.content{
    margin: 20px auto;
    min-height: 150px;
    padding: 10px;
    position:relative;
}

.headline{
    font-size: 30px;
    font-weight: bold;
    font-family:'楷体';
    margin-top: 5px; 
    color:grey;
}

.top{
    margin-top: 30px;
}